@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* background: var(--background); */

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.responsive-container {
  background-image: url('/images/seaMaps.png');
  background-repeat: no-repeat;
  background-size: auto 40%; 
  background-position: right 0 center;
}

@media (min-width: 423px) {
  .responsive-container {
    background-image: url('/images/seaMaps.png');
    background-repeat: no-repeat;
    background-size: auto 55%; 
    background-position: right 0 center 30;
  }
}
@media (min-width: 777px) {
  .responsive-container {
    background-image: url('/images/seaMaps.png');
    background-repeat: no-repeat;
    background-size: auto 65%; 
    background-position: right 0 top 10;
  }
}

@media (min-width: 860px) {
  .responsive-container {
    background-image: url('/images/seaMaps.png');
    background-repeat: no-repeat;
    background-size: auto 85%; 
    background-position: right 0 top 10;
  }
}
