@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* background: var(--background); */

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.responsive-container {
  background-image: url('/images/seaMaps.png');
  background-repeat: no-repeat;
  background-size: 95vw; 
  background-position: right 0 top 150;
}

/* @media (min-width: 423px) {
  .responsive-container {
    background-image: url('/images/seaMaps.png');
    background-repeat: no-repeat;
    background-size: auto 55%; 
    background-position: right 0 top 100;
  }
} */
@media (min-width: 600px) {
  .responsive-container {
    background-image: url('/images/seaMaps.png');
    background-repeat: no-repeat;
    background-size: auto 70vw; 
    background-position: right 0 top 30;
  }
}

@media (min-width: 765px) {
  .responsive-container {
    background-image: url('/images/seaMaps.png');
    background-repeat: no-repeat;
    background-size: 60vw; 
    background-position: right 0 top 10;
  }
}
